/* Yale Sites Serif Font -----------------------------------------------------*/
@font-face { /* Normal */
    font-family: 'Yale';
    src:
        url('https://rcheng11.github.io/dynamic-forms-styles/Yale2024-Roman.otf') 
        format('opentype');
    font-weight: normal;
    font-style: normal;
}
@font-face { /* Bold */
    font-family: 'Yale';
    src:
        url('https://rcheng11.github.io/dynamic-forms-styles/Yale2024-Roman.otf') 
        format('opentype');
    font-weight: bold;
    font-style: normal;
}
@font-face { /* Italic */
    font-family: 'Mallory Compact';
    src:
        url('https://rcheng11.github.io/dynamic-forms-styles/MalloryCompact-Light.ttf') 
        format('opentype');
    font-weight: normal;
    font-style: italic;
}
@font-face { /* Italic Bold */
    font-family: 'Mallory Compact';
    src:
        url('https://rcheng11.github.io/dynamic-forms-styles/MalloryCompact-Light.ttf') 
        format('opentype');
    font-weight: bold;
    font-style: italic;
}

/* Standard Styles */
label, input, table, td, th{
  font-family: "Mallory Compact", sans-serif !important;
  font-size: 1rem !important;
}
input{
  padding: 0.2rem;
}

/* Style-first classes ---------------------------------------- */
.font-yale-sans-serif{
    font-family: "Mallory Compact", sans-serif !important;
}
.font-yale-serif{
    font-family: "Yale", serif !important;
}
/* Font size */
.text-xs{
    font-size: 0.75rem;
}
.text-sm{
    font-size: 0.875rem;
}
.text-base{
    font-size: 1rem;
}
.text-lg{
    font-size: 1.125rem;
}
.text-xl{
    font-size: 1.25rem;
}
.text-2xl{
    font-size: 1.5rem;
}
.text-3xl{
    font-size: 1.875rem;
}
.text-4xl{
    font-size: 2.25rem;
}
.text-5xl{
    font-size: 3rem;
}
.text-6xl{
    font-size: 3.75rem;
}
