@font-face {
    font-family: 'Yale';
    src:
        url('Yale2024-BoldItalic.otf') 
        format('opentype');
    font-weight: normal;
    font-style: normal;
}

body{
  font-family: "Yale", sans-serif;
  font-size: 1rem;
}
input{
  padding: 0.2rem;
}
