/* Yale Sites Serif Font -----------------------------------------------------*/
@font-face { /* Normal */
    font-family: 'Yale';
    src:
        url('https://rcheng11.github.io/dynamic-forms-styles/Yale2024-Roman.otf') 
        format('opentype');
    font-weight: normal;
    font-style: normal;
}
@font-face { /* Bold */
    font-family: 'Yale';
    src:
        url('https://rcheng11.github.io/dynamic-forms-styles/Yale2024-Bold.otf') 
        format('opentype');
    font-weight: bold;
    font-style: normal;
}
@font-face { /* Italic */
    font-family: 'Yale';
    src:
        url('https://rcheng11.github.io/dynamic-forms-styles/Yale2024-Italic.otf') 
        format('opentype');
    font-weight: normal;
    font-style: italic;
}
@font-face { /* Bold Italic */
    font-family: 'Yale';
    src:
        url('https://rcheng11.github.io/dynamic-forms-styles/Yale2024-BoldItalic.otf') 
        format('opentype');
    font-weight: bold;
    font-style: italic;
}
/* Yale Sites Sans-Serif Font ------------------------------------------ */
@font-face { 
    font-family: 'Mallory Compact';
    src:
        url('https://rcheng11.github.io/dynamic-forms-styles/MalloryCompact-Light.ttf') 
        format('truetype');
    font-weight: normal;
    font-style: normal;
}
@font-face { /* Bold */
    font-family: 'Mallory Compact';
    src:
        url('https://rcheng11.github.io/dynamic-forms-styles/MalloryCompact-Medium.ttf') 
        format('truetype');
    font-weight: bold;
    font-style: normal;
}
@font-face { /* Italic */
    font-family: 'Mallory Compact';
    src:
        url('https://rcheng11.github.io/dynamic-forms-styles/MalloryCompact-LightItalic.ttf') 
        format('truetype');
    font-weight: normal;
    font-style: italic;
}
@font-face { /* Bold Italic */
    font-family: 'Mallory Compact';
    src:
        url('https://rcheng11.github.io/dynamic-forms-styles/MalloryCompact-MediumItalic.ttf') 
        format('truetype');
    font-weight: bold;
    font-style: italic;
}

/* Standard Styles -----------------------------------------------*/
body{
}
label, input, table, td, th, textarea, .inputcontainer, button{
  font-family: "Mallory Compact", sans-serif !important;
  font-size: 1rem !important;
  font-weight: normal !important;
    font-style: normal !important;
}
input, text-area, label{
  padding: 0.35rem;
}
a{
    color: #286dc0;
    transition: 0.3s;
}
a:hover{
    color: #00356b;
}
/* Special Text ----------------------------------------------- */
.alert-text::before {
  content: "ⓘ";
  margin-right: 5px;
}
.alert-text{
    color: #286dc0;
}
/* Style-first classes ---------------------------------------- */
.color-yale-dark-blue{
    color: #00356b;
}
.font-yale-sans-serif{
    font-family: "Mallory Compact", sans-serif !important;
}
.font-yale-serif{
    font-family: "Yale", serif !important;
}
/* Font size */
.text-xs{
    font-size: 0.75rem;
}
.text-sm{
    font-size: 0.875rem;
}
.text-base{
    font-size: 1rem;
}
.text-lg{
    font-size: 1.125rem;
}
.text-xl{
    font-size: 1.25rem;
}
.text-2xl{
    font-size: 1.5rem;
}
.text-3xl{
    font-size: 1.875rem;
}
.text-4xl{
    font-size: 2.25rem;
}
.text-5xl{
    font-size: 3rem;
}
.text-6xl{
    font-size: 3.75rem;
}
